<?xml version="1.0"?>
<data>
    <client_data>
        <url>http://127.0.0.1</url>
        <port>8080</port>
        <!-- local host urls can disable this field -->
        <user>admin</user>
        <pass>password</pass>
    </client_data>
    <telegram_token>113022701:AAHsn9FiQoHHKIZ4b4OpLekFXTKZOc34lfs</telegram_token>
    <authenticated_telegram_users>
        <telegram_user_id>70113958</telegram_user_id>
        <telegram_user_id>67154719</telegram_user_id>
    </authenticated_telegram_users>
</data>